.timer-line {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .progress {
    height: 4px;
    transition-duration: 1s;
    transition-timing-function: linear;
    width: 100%;
    background-color: rgb(255,193,7);
  }